*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    padding: auto;
    line-height: 1.5;
}

.xyz{
    border-radius: 4px;
    font-weight: bold;
    color: aliceblue;
    background-color: blue;
}

.clear{
    border-radius: 4px;
    font-weight: bold;
    color: black;
    background-color: darkgrey;
}

.legend{
    border-radius: 4px;
    font-weight: bold;
    color: aliceblue;
    background-color: blue;

}